<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>
    <link href="css/main.css" rel="stylesheet">
    <link href="css/chat.css" rel="stylesheet">
</head>

<body>
    <ul id="messages"></ul>
    <form action="">
        <input id="m" autocomplete="off" /><button>Send</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="js/chatEngine.js"></script>
</body>

</html>